{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <div>
                <a class="btn btn-success" href="/customer/add/">Add New Customer</a>

                <div class="col-lg-4" style="float: right">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." name="query"
                                   value={{ value }}>
                            <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Customereb</div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Birthdate</th>
                    <th>Age</th>
                    <th>Level</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for query in query_set %}
                    <tr>
                        <th scope="row">{{ query.id }}</th>
                        <td>{{ query.username }}</td>
                        <td>{{ query.birthdate }}</td>
                        <td>{{ query.age }}</td>
                        <td>{{ query.get_level_display }}</td>
                        <td><a class="btn btn-primary btn-xs" href="/customer/{{ query.id }}/edit/">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/customer/{{ query.id }}/delete/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
        <span class="step-links">
            {% if query_set.has_previous %}
                <a href="?query={{ value }}&page=1">&laquo; first</a>
                <a href="?query={{ value }}&page={{ query_set.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ query_set.number }} of {{ query_set.paginator.num_pages }}.
            </span>

            {% if query_set.has_next %}
                <a href="?query={{ value }}&page={{ query_set.next_page_number }}">next</a>
                <a href="?query={{ value }}&page={{ query_set.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>
{% endblock %}