{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <input type="button" value="Add New Department" class="btn btn-success" id="btnAdd">
            <div class="col-lg-4" style="float: right">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." name="query"
                               value={{ value }}>
                        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Department</div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for query in query_set %}
                    <tr>
                        <th scope="row">{{ query.id }}</th>
                        <td>{{ query.department }}</td>
                        <td><input uid={{ query.id }} type="button" class="btn btn-primary btn-xs btn-edit"
                                   value="Edit">
                            <input uid={{ query.id }} type="button" class="btn btn-danger btn-xs btn-delete"
                                   value="Delete">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
        <span class="step-links">
            {% if query_set.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ query_set.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ query_set.number }} of {{ query_set.paginator.num_pages }}.
            </span>

            {% if query_set.has_next %}
                <a href="?page={{ query_set.next_page_number }}">next</a>
                <a href="?page={{ query_set.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>Are you sure you want to delete?</h4>
                <p>After deletion, all associated data will be deleted as well.</p>
                <p>
                    <button type="button" id="btnConfirmDelete" class="btn btn-danger">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Department</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix">
                        <form id="modalForm">
                            {% for item in form %}
                                <div style="margin-bottom: 18px">
                                    <div class="form-group" style="position: relative">
                                        <label>{{ item.label }}</label>
                                        {{ item }}
                                        <span class="error_msg" style="position: absolute; color: red"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            showAddModal();
            showDeleteModal();
            showEditModal();
            btnAdd();
            btnDelete();
        })
        let edit_id = -1;
        let delete_id = -1;

        function showAddModal() {
            $(".error_msg").empty();
            $('#btnAdd').click(function () {
                $('#modalForm')[0].reset();
                $("#myModalLabel").text("Add New Department");
                $('#myModal').modal('show');
            })
        }

        function showDeleteModal() {
            $('.btn-delete').click(function () {
                delete_id = $(this).attr("uid");
                $("#deleteModal").modal('show');
            })
        }

        function showEditModal() {
            $('.btn-edit').click(function () {
                edit_id = $(this).attr("uid");
                $('#modalForm')[0].reset();
                $("#myModalLabel").text("Edit Department");
                console.log(edit_id);
                $.ajax({
                    url: "/department/detail/",
                    type: "get",
                    data: {"uid": edit_id},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            console.log(res.data);
                            $.each(res.data, function (name, data) {
                                console.log(name);
                                console.log(data);
                                $("#id_" + name).val(data);
                            })
                            $('#myModal').modal('show');
                        } else {
                            alert(res.error);
                        }
                    }
                })
            })
        }

        function btnAdd() {
            $('#btnSubmit').click(function () {
                $(".error_msg").empty();
                let current_url;
                if (edit_id == -1) {
                    current_url = "/department/add/";
                } else {
                    current_url = "/department/edit/?uid=" + edit_id;
                    edit_id = -1;
                }
                $.ajax({
                    url: current_url,
                    type: "post",
                    data: $("#modalForm").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("success");
                            $('#myModal').modal('hide');
                            location.reload();
                        } else {
                            $.each(res.error, function (name, data) {
                                $("#id_" + name).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }

        function btnDelete() {
            $("#btnConfirmDelete").click(function () {
                $.ajax({
                    url: "/department/delete/",
                    type: "GET",
                    data: {"uid": delete_id},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("Delete Successfully!")
                            $('#deleteModal').modal('hide');
                            delete_id = -1;
                            location.reload();
                        } else {
                            alert(res.error);
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}