{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <hr class="my-4">
            <p>
                <!-- Bootstrap buttons for Login and Register -->
                <a class="btn btn-primary" href="/login" role="button">Login</a>
                <a class="btn btn-primary" href="/register" role="button">Register</a>
            </p>
        </div>
    </div>
</body>
<script src="{% static 'js/jquery-3.6.3.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</html>