{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Login</title>
</head>
<body>
<div class="container" style="width: 500px; border: 1px solid #dddddd;margin-top: 80px;">
    <form method="post" style="margin-top: 60px;margin-bottom: 60px" novalidate>
        {% csrf_token %}
        <h2 style="text-align: center"> New User</h2>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">{{ form.username.label }}</label>
            {{ form.username }}
            <span style="margin-left: 10px; color: red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">{{ form.password.label }}</label>
            {{ form.password }}
            <span style="margin-left: 10px; color: red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">{{ form.confirm.label }}</label>
            <div>
                {{ form.confirm }}
            </div>
            <span style="margin-left: 10px; color: red">{{ form.confirm.errors.0 }}</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>

<!-- Bootstrap Bundle with Popper -->
<script src="{% static 'plugins/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/jquery-3.6.3.js' %}"></script>
</html>