{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/add/">Add New Employee</a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Employees</div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Balance</th>
                    <th>Joining Date</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for query in query_set %}
                    <tr>
                        <th scope="row">{{ query.id }}</th>
                        <td>{{ query.name }}</td>
                        <td>{{ query.pwd }}</td>
                        <td>{{ query.get_gender_display }}</td>
                        <td>{{ query.age }}</td>
                        <td>{{ query.balance }}</td>
                        <td>{{ query.register_time|date:"Y-m-d" }}</td>
                        <td>{{ query.department.department }}</td>
                        <td><a class="btn btn-primary btn-xs" href="/user/{{ query.id }}/edit/">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ query.id }}/delete/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}